
<div class="row">
  <div class="large-10 large-offset-2 columns">
    <%= form_tag( controller: "sub_paths", action: "create" ) do %>
      <% @sub_pathes.each do |sub_path| %>
        <%= fields_for 'sub_path_params[]', sub_path do |p| %>
          <div class="row">
            <div class="large-4 columns">              
              <%= p.label :part %><br>
              <%= p.text_field :part%>            
            </div>
            <div class="large-2 columns">
              <%= p.label :path_id %><br>
              <%= p.number_field :path_id %>
            </div>
          </div>     
          <hr></hr>
        <% end %>
      <% end %>

      <%= submit_tag %>

    <% end %>
  </div>
</div>