
<p>
  <strong>Category Path:</strong>
  <%= @path.name %>
</p>
<p>
  <strong>Id:</strong>
  <%= @path.id %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @path.shop.name %> 
  <strong>Id:</strong>
  <%= @path.shop.id %> 
</p>

<%= link_to 'Edit', edit_path_path(@path) %> |
<%= link_to 'Back', paths_path %>
<hr></hr>

<strong>Subpathes:</strong>

<%= render '/sub_paths/collection' %>
<%= link_to 'New Sub Pathes', controller: 'sub_paths', action: 'new', path_id: @path.id %> | 
<%= link_to 'Update Sub Pathes', controller: 'sub_paths', action: 'edit_multiple', path_id: @path.id %>
<br></br>

<strong>Resulting url: </strong>
<% url = @path.shop.url %>
<% @path.sub_paths.each do |sub_path| %>
  <% url += sub_path.part %>
<% end %>
<%= url %>

