<p id="notice"><%= notice %></p>

<p>
  <strong>Category Path:</strong>
  <%= @path.name %>
</p>
<p>
  <strong>Id:</strong>
  <%= @path.id %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @path.shop.name %> 
  <strong>Id:</strong>
  <%= @path.shop.id %> 
</p>

<%= link_to 'Edit', edit_path_path(@path) %> |
<%= link_to 'Back', paths_path %>
<hr></hr>
<strong>Subpathes:</strong>
<%= render '/sub_paths/collection' %>
<br></br>

<strong>Resulting url: </strong>
<% url = @path.shop.url %>
<% @path.sub_paths.each do |sub_path| %>
  <% url += sub_path.part %>
<% end %>
<%= url %>

