<%= form_for(@admin_path) do |f| %>
  <% if @admin_path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_path.errors.count, "error") %> prohibited this admin_path from being saved:</h2>

      <ul>
      <% @admin_path.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :shop_id %><br>
    <%= f.text_field :shop_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
