

<nav class="top-bar" data-topbar role="navigation">
  <!--<ul class="title-area">
    <li class="name"><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></li>
  </ul>
  -->

  <section class="top-bar-section"> 
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%=link_to "Register", "#" %></li>
      <li><%=link_to "Login", "#" %></li>
    </ul>

    <ul class="left">
      <li><%= link_to "Shops", controller: 'shops' %></li>
      <li><%= link_to "Pathes", controller: 'paths' %></li>
      <li><%= link_to "Offers", controller: 'offers' %></li>
    </ul>

  </section>
</nav>

